<!doctype html>

<head>
    <title>Edit post</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <script src="js/nav.js"></script>
    <br><br><br>
    <div class="form-container">
        <h1 class="mobile">Change profile pic</h1>

        <form action="/changeProfilePic" enctype="multipart/form-data" method="post">
            <label class="fileContainer mobile input-div">
                <p>Select image..</p>
                <input class="mobile" type="file" accept="image/*" name="profilePic">
              </label>
              <br>
            <input class="mobile input-div" type="submit" value="Update"/>
        </form>
        
    </div>

    <script>
        const queryString = window.location.search;
        console.log(queryString);
        const urlParams = new URLSearchParams(queryString);

        document.getElementById("desc").value = urlParams.get("post_description");
        
    </script>
</body>

</html>