<!doctype html>

<head>
    <title>Edit post</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <script src="javascripts/nav.js"></script>
    <br><br><br>
    <div class="form-container">
        <h1 class="mobile">Change username</h1>

        <form action="/editUser" method="post">
            <input type="hidden" name="photo_name" id="pht" />
            <input class="mobile input-div" type="text" name="username" value="<%= user.username %>" />
            <br>
            <input class="mobile input-div" type="submit" value="Save"/>
        </form>
        
    </div>

</body>

</html>