<!doctype html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <script src="javascripts/nav.js"></script>
    <br><br><br><br>
    
    <div class="form-container">
        <h1 class="mobile">Register</h1>
        <form action="/register" method="post">

            <input class="mobile input-div" placeholder="Username" type="text" name="username" />
            <br>
            <input class="mobile input-div" placeholder="Password" type="password" name="password" />
            <br>
            <input class="mobile input-div" type="submit" value="Register" />
            
        </form>
        <br>
        <form action="/login" method="post">
            <input class="mobile input-div" type="submit" value="Log in" />
        </form>
            
    </div>
</body>