<!doctype html>

<head>
  <title>Add post</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <script src="javascripts/nav.js"></script>
  <h2 class="text-center">You Must Log In to View This Page</h2> 
</body>

</html>