body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background-color: #18191a;
}

/* Tags start */
h1 {
  color: #b0b3b8;
}

hr {
  height: 1px;
  width: 95%;
  color: rgb(107, 107, 107);
  background-color: rgb(107, 107, 107);
  border: none;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

p {
  word-wrap: break-word;
  font-size: 100%;
}
/* Tags end */

/* Inputs start */
.input-div { 
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: ease-out 0.15s;
}

.input-div-search { 
  width: 80%;
  padding: 2px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: ease-out 0.15s;
}

.input-div-button { 
  width: 15%;
  padding: 2px 2px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: ease-out 0.15s;
}

input:hover {
  filter: brightness(90%);
}

input[type=submit] {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

input[type=submit]:hover {
  cursor: pointer;
}
/* Inputs end */

/* Posts start*/
.post-div {
  background-color: #333333;
  color: #b0b3b8;
  border-radius: 10px; 
  padding: 20px 0 20px 0; 
  margin: 0 30% 20px 30%;
  transition: ease-out 0.15s;
}

.post-div h1 {
  text-align: Left;
  padding-top: 2%;
}

.post-img {
  width: 100%;
  height: auto;
}

.post-desc {
  text-align: left;
  padding-left: 25px;
}
/* Posts end*/

/* Profile start*/
.profile-pic {
  border-radius: 8%;
  float: left;
  margin: 3%;
}

.profile-name {
  text-align: left;
  padding-left: 5%;
  padding-top: 1%;
}
/* Profile end*/

/* Buttons start*/
.btn-sub {
  width: 40%;
}

.btn-edit {
  font-size: 30px;
  text-decoration: none;
  color: #b0b3b8;
}

.clean-link {
  text-decoration: none;
  color: #b0b3b8;
}

.btn-conatiner form{
  display:inline-block;
  margin: auto;
  width: 49%;
}

.btn-conatiner form input{
  width: 92%;
  text-align: center;
  background-color: #333;
  color: #b0b3b8;
  border: none;
}
/* Buttons end*/

/* Files start*/
.fileContainer {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.fileContainer:hover {
  cursor: pointer;
  filter: opacity(70%);
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.file-form {
  width: 70px; 
  height: 48px;
  margin: 10px 8px 0 8px;
}
/* Files end*/

/* Nav bar start */
.topnav {
  overflow: hidden;
  background-color: #333;
  font-weight: 600;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.right {
  float: right;
  padding: 10px 10px 0 0;
}
.topnav a.right-only {
  float: right;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

.topnav .icon {
  display: none;
}

.mobile-p-right {
  padding-right: 35px;
  float: right;
}

.mobile-p-left {
  padding-left: 0;
  float: left;
}

/* Navbar end*/

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    position: relative;
  }
  .topnav a, .mobile {
    font-size: 45px;
    padding: 10px 17px 3px 0;
    margin: 1% 1% 1% 1%;
  }
  .form-container{
    margin-left: 30px;
    margin-right: 30px;
  }
  .btn, .frm, #result {
    font-size: 80px;
    padding: 10px;
    height: 100%;
    width: 100%;
  }

  input[type=submit] {
    height: 160px;
    border-radius: 14px;
  }

  .post-div {
    margin: 0 0 20px 0;
  }

 /* Mobile view start */
  .mobile {
    width: 98%;
  }

  h1.mobile {
    padding-top: 5%;
  }
  
  .mobile-username {
    font-size: 240%;
  }
  
  .mobile-username p {
    margin: 35px 0 0 0 ;
  }

  .mobile-p {
    font-size: 160%;
    padding-left: 10px;
  } 

  .mobile-p-right {
    padding-right: 60px;
    font-size: 200%;
  }  

  .mobile-p-left {
    padding-left: 15px;
    font-size: 200%;
  }
 /* Mobile view end */
 
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Nav bar end */
